<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hydosky.send.mapper.DateHotTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dateHotTypeResultMap" type="org.hydosky.send.entity.DateHotType">
        <id column="date" property="date"/>
        <id column="type" property="type"/>
        <id column="order_count" property="orderCount"/>
    </resultMap>

    <insert id="insertOrUpdate">
        insert into date_hot_type (`date`,`type`,order_count)
        values
        (#{dateHotType.date},#{dateHotType.type},#{dateHotType.orderCount})
        on DUPLICATE key update order_count=order_count+values(order_count)
    </insert>

</mapper>
