<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hydosky.send.mapper.DateStatisticsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dateStaResultMap" type="org.hydosky.send.entity.DateStatistics">
        <id column="date" property="date"/>
        <id column="order_count" property="orderCount"/>
        <id column="order_price" property="orderPrice"/>
        <id column="goods_count" property="goodsCount"/>
    </resultMap>

    <insert id="insertOrUpdate">
        insert into date_statistics (`date`,order_count,order_price,goods_count)
        values
        (#{dateStatistics.date},#{dateStatistics.orderCount},#{dateStatistics.orderPrice},#{dateStatistics.goodsCount})
        on DUPLICATE key update
        order_count=order_count+values(order_count),
        order_price=order_price+values(order_price),
        goods_count=goods_count+values(goods_count)
    </insert>

</mapper>
